.inputCon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    label{
        opacity: 0.75;

    }
    input{
        padding: 0.5rem 2rem;
        &:focus{
            outline: none;
        }
    }
}